# Importação da base de dados bruta

In [92]:
import pandas as pd
import holidays
import datetime

In [93]:
df = pd.read_excel(r"D:\Dissertação\dissertacao_pgmc\Dados\Dados brutos\Base de dados TCC_anonimizada.xlsx", header= 0, sheet_name="Dados")
df.sort_values("REAL - Entrada").head(15)

,BRM,agrup_veiculo,tipo_expedicao,int_tipo_expedicao,ponto_descarga,peso,bin_varricao,REAL - Entrada,Data_entrada,qtd_veiculos_dia,qtd_veiculos_dentro,OUTLIER,Quinzena,REAL - Saída,tempo_varricao,dia_semana,semana_mes,tpv_usina,num_mes,Previsto - Permanência
1721,209005,1.0,08,NaN,PONTO5,41770,0,2021-01-02 05:34:02.381,2021-01-02,12,0,0,1,2021-01-02 07:47:23.458,0.00,6,1,2.22,1,4.40
1948,209006,1.0,75,75.0,PONTO3,52280,1,2021-01-02 05:50:05.901,2021-01-02,12,1,0,1,2021-01-02 08:49:18.965,0.79,6,1,2.99,1,4.52
1823,209025,1.0,12,12.0,PONTO1,45260,1,2021-01-02 09:24:14.942,2021-01-02,12,0,0,1,2021-01-02 12:07:02.519,0.50,6,1,2.71,1,4.40
2626,209035,7.0,57,57.0,PONTO8,32530,0,2021-01-02 11:36:03.375,2021-01-02,12,1,0,1,2021-01-02 13:06:51.874,0.00,6,1,1.51,1,4.40
2270,209029,8.0,35,35.0,DEDICADOS,48060,1,2021-01-02 11:39:07.109,2021-01-02,12,2,0,1,2021-01-02 14:28:49.136,0.47,6,1,2.83,1,4.40
2224,209034,8.0,35,35.0,PONTO3,38870,1,2021-01-02 13:10:31.831,2021-01-02,12,1,0,1,2021-01-02 14:54:07.719,0.60,6,1,1.73,1,4.40
838,209036,7.0,55,55.0,GUSA BÁSC,72770,0,2021-01-02 13:16:39.456,2021-01-02,12,2,0,1,2021-01-02 14:22:55.215,0.00,6,1,1.10,1,4.73
2846,209037,7.0,57,57.0,DEDICADOS,38390,0,2021-01-02 13:57:39.006,2021-01-02,12,3,0,1,2021-01-02 15:53:29.697,0.00,6,1,1.93,1,4.40
2941,209039,7.0,55,55.0,PONTO6,47770,1,2021-01-02 14:20:23.780,2021-01-02,12,4,0,1,2021-01-02 17:16:45.876,0.46,6,1,2.94,1,4.40
2842,209038,1.0,12,12.0,PONTO1,54630,1,2021-01-02 14:31:20.805,2021-01-02,12,3,0,1,2021-01-02 18:03:34.980,0.00,6,1,3.54,1,4.55
2875,209040,1.0,A4,142.0,PONTO1;PONTO2,77270,1,2021-01-02 14:41:40.530,2021-01-02,12,4,0,1,2021-01-02 18:33:50.361,1.02,6,1,3.87,1,5.40
2947,209041,1.0,85,85.0,PONTO3,40560,1,2021-01-02 14:43:56.354,2021-01-02,12,5,0,1,2021-01-02 17:10:43.719,0.58,6,1,2.45,1,4.40
1264,209042,1.0,75,75.0,PONTO1,44010,0,2021-01-04 06:10:46.918,2021-01-04,83,0,0,1,2021-01-04 08:59:21.402,0.00,1,2,2.81,1,4.40
2861,209043,7.0,55,55.0,GUSA BÁSC,45630,0,2021-01-04 06:31:03.757,2021-01-04,83,1,0,1,2021-01-04 07:35:05.155,0.00,1,2,1.07,1,4.40
1012,209044,7.0,57,57.0,PONTO5,34820,0,2021-01-04 06:37:55.422,2021-01-04,83,2,0,1,2021-01-04 08:31:22.773,0.00,1,2,1.89,1,4.40

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23974 entries, 0 to 23973
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BRM                     23974 non-null  int64
 1   agrup_veiculo           23475 non-null  float64
 2   tipo_expedicao          23900 non-null  object
 3   int_tipo_expedicao      21884 non-null  float64
 4   ponto_descarga          23902 non-null  object
 5   peso                    23974 non-null  int64
 6   bin_varricao            23974 non-null  int64
 7   REAL - Entrada          23974 non-null  datetime64[ns]
 8   Data_entrada            23974 non-null  datetime64[ns]
 9   qtd_veiculos_dia        23974 non-null  int64
 10  qtd_veiculos_dentro     23974 non-null  int64
 11  OUTLIER                 23974 non-null  int64
 12  Quinzena                23974 non-null  int64
 13  REAL - Saída            23974 non-null  datetime64[ns]
 14  tempo_varricao          23974 non-null  float64
 15  dia_semana              23974 non-null  int64
 16  semana_mes              23974 non-null  int64
 17  tpv_usina               23974 non-null  float64
 18  num_mes                 23974 non-null  int64
 19  Previsto - Permanência  23902 non-null  float64
dtypes: datetime64[ns](3), float64(5), int64(10), object(2)
memory usage: 3.7+ MB

In [95]:
df['REAL - Saída'].min()

Timestamp('2021-01-02 07:47:23.458000')

In [96]:
df['REAL - Saída'].max()

Timestamp('2021-09-30 23:04:59.003000')

## Criação do novo dataframe

In [97]:
df_novo = pd.DataFrame(df.groupby([pd.Grouper(key='REAL - Entrada', freq='D'), pd.Grouper(key='REAL - Saída', freq='30T')])['tpv_usina'].mean())

In [98]:
len(df_novo)

7367

In [99]:
gp = df_novo.groupby('REAL - Entrada')['tpv_usina']
df_novo["cum_avg"] = (gp.cumsum() - df_novo['tpv_usina'])/gp.cumcount()

In [100]:
df_novo["cum_avg"] = df_novo["cum_avg"].bfill()
df_novo.head(25)

                                    tpv_usina   cum_avg
REAL - Entrada REAL - Saída
2021-01-02     2021-01-02 07:30:00   2.220000  2.220000
               2021-01-02 08:30:00   2.990000  2.220000
               2021-01-02 12:00:00   2.710000  2.605000
               2021-01-02 13:00:00   1.510000  2.640000
               2021-01-02 14:00:00   1.965000  2.357500
               2021-01-02 14:30:00   1.730000  2.279000
               2021-01-02 15:30:00   1.930000  2.187500
               2021-01-02 17:00:00   2.695000  2.150714
               2021-01-02 18:00:00   3.540000  2.218750
               2021-01-02 18:30:00   3.870000  2.365556
2021-01-04     2021-01-04 07:30:00   1.015000  1.015000
               2021-01-04 08:00:00   1.330000  1.015000
               2021-01-04 08:30:00   2.173333  1.172500
               2021-01-04 09:00:00   1.453333  1.506111
               2021-01-04 09:30:00   1.618000  1.492917
               2021-01-04 10:00:00   2.225000  1.517933
               2021-01-04 10:30:00   2.028000  1.635778
               2021-01-04 11:00:00   2.563333  1.691810
               2021-01-04 11:30:00   2.690000  1.800750
               2021-01-04 12:00:00   2.100000  1.899556
               2021-01-04 12:30:00   2.308571  1.919600
               2021-01-04 13:00:00   3.670000  1.954961
               2021-01-04 13:30:00   4.130000  2.097881
               2021-01-04 14:00:00   4.350000  2.254198
               2021-01-04 14:30:00   4.130000  2.403898

## Enriquecimento da base

### Feriados

In [101]:
feriados = holidays.Brazil()

In [102]:

def is_feriado(data):
  """Verifica se a data é feriado no Brasil."""
  return data.date() in feriados 

# Criando a coluna de feriados e preenchendo com falsos
df_novo['feriado'] = False

# Aplicando a funcao para receber True caso seja feriado
for index, row in df_novo.iterrows():

  data = row.name[0] 
  df_novo.at[index, 'feriado'] = is_feriado(data)

In [103]:
df_novo.head(5)

                                    tpv_usina  cum_avg  feriado
REAL - Entrada REAL - Saída
2021-01-02     2021-01-02 07:30:00      2.220   2.2200    False
               2021-01-02 08:30:00      2.990   2.2200    False
               2021-01-02 12:00:00      2.710   2.6050    False
               2021-01-02 13:00:00      1.510   2.6400    False
               2021-01-02 14:00:00      1.965   2.3575    False

### Fim de semana

In [104]:
def fim_de_semana(data):

    dia = data.weekday()

    return dia >= 5

In [105]:
# Aplicando a funcao para receber True caso seja fim de semana
for index, row in df_novo.iterrows():

  data = row.name[0] 
  df_novo.at[index, 'fim_semana'] = fim_de_semana(data)

In [106]:
df_novo.head(5)

                                    tpv_usina  cum_avg  feriado fim_semana
REAL - Entrada REAL - Saída
2021-01-02     2021-01-02 07:30:00      2.220   2.2200    False       True
               2021-01-02 08:30:00      2.990   2.2200    False       True
               2021-01-02 12:00:00      2.710   2.6050    False       True
               2021-01-02 13:00:00      1.510   2.6400    False       True
               2021-01-02 14:00:00      1.965   2.3575    False       True

### Quinzena

In [107]:
def primeira_quinzena(data):

    dia = data.day

    return dia < 15

In [108]:
# Aplicando a funcao para receber True caso seja primeira quinzena
for index, row in df_novo.iterrows():

  data = row.name[0] 
  df_novo.at[index, 'primeira_quinzena'] = primeira_quinzena(data)

In [109]:
df_novo.head(5)

                                    tpv_usina  cum_avg  feriado fim_semana  \
REAL - Entrada REAL - Saída
2021-01-02     2021-01-02 07:30:00      2.220   2.2200    False       True
               2021-01-02 08:30:00      2.990   2.2200    False       True
               2021-01-02 12:00:00      2.710   2.6050    False       True
               2021-01-02 13:00:00      1.510   2.6400    False       True
               2021-01-02 14:00:00      1.965   2.3575    False       True

                                   primeira_quinzena
REAL - Entrada REAL - Saída
2021-01-02     2021-01-02 07:30:00              True
               2021-01-02 08:30:00              True
               2021-01-02 12:00:00              True
               2021-01-02 13:00:00              True
               2021-01-02 14:00:00              True

## Removendo colunas desnecessárias

In [110]:
df_novo.reset_index(inplace= True)
df_novo.drop(columns= ['tpv_usina', 'REAL - Entrada'], inplace= True)

In [111]:
df_novo.head(15)

          REAL - Saída   cum_avg  feriado fim_semana primeira_quinzena
0  2021-01-02 07:30:00  2.220000    False       True              True
1  2021-01-02 08:30:00  2.220000    False       True              True
2  2021-01-02 12:00:00  2.605000    False       True              True
3  2021-01-02 13:00:00  2.640000    False       True              True
4  2021-01-02 14:00:00  2.357500    False       True              True
5  2021-01-02 14:30:00  2.279000    False       True              True
6  2021-01-02 15:30:00  2.187500    False       True              True
7  2021-01-02 17:00:00  2.150714    False       True              True
8  2021-01-02 18:00:00  2.218750    False       True              True
9  2021-01-02 18:30:00  2.365556    False       True              True
10 2021-01-04 07:30:00  1.015000    False      False              True
11 2021-01-04 08:00:00  1.015000    False      False              True
12 2021-01-04 08:30:00  1.172500    False      False              True
13 2021-01-04 09:00:00  1.506111    False      False              True
14 2021-01-04 09:30:00  1.492917    False      False              True

In [112]:
df_novo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7367 entries, 0 to 7366
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   REAL - Saída       7367 non-null   datetime64[ns]
 1   cum_avg            7367 non-null   float64
 2   feriado            7367 non-null   bool
 3   fim_semana         7367 non-null   object
 4   primeira_quinzena  7367 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), object(2)
memory usage: 237.5+ KB

## Exportando a base

In [114]:
df_novo.to_csv(r'D:\Dissertação\dissertacao_pgmc\Dados\Dados refinados\timeseries.csv')