# Imports necessários

## Bibliotecas

In [32]:
from sklearn.model_selection import cross_val_score, train_test_split
import sys
import pandas as pd
import numpy as np
sys.path.insert(1, '..\Modelo')

## Importando o modelo

In [13]:
from ePL_KRLS_DISCO import ePL_KRLS_DISCO

## Importando a série

In [6]:
df = pd.read_csv("../Dados/Dados refinados/timeseries.csv", index_col= 0)

In [7]:
df

,mes,dia,hora,QTD_VEICULOS_USINA,primeira_quinzena,feriado,fim_semana,TPV
0,1,2,7,1,1,0,1,2.220000
1,1,2,8,1,1,0,1,0.000000
2,1,2,8,0,1,0,1,2.605000
3,1,2,9,1,1,0,1,0.000000
4,1,2,9,1,1,0,1,0.000000
...,...,...,...,...,...,...,...,...
13035,9,30,21,3,0,0,0,4.306490
13036,9,30,21,3,0,0,0,0.000000
13037,9,30,22,2,0,0,0,4.378044
13038,9,30,22,1,0,0,0,4.419491
13039,9,30,23,0,0,0,0,4.530175

In [76]:
def Normalize_Data(data):
    Max_data = np.max(data)
    Min_data = np.min(data)
    Normalized_data = (data - Min_data)/(Max_data - Min_data)
    return Normalized_data, Max_data, Min_data

Data = df.to_numpy()

test_size = 0.2
split_index = int(len(df) * (1 - test_size))

# Separating the inputs and output
X = Data[:, :-1]
y = Data[:, -1]

# Normalize the inputs and the output
Normalized_X, X_max, X_min = Normalize_Data(X)
Normalized_y, y_max, y_min = Normalize_Data(y)

X_train = Normalized_X[:split_index, :]
y_train = Normalized_y[:split_index]

X_test = Normalized_X[split_index:, :]
y_test = Normalized_y[split_index:]

# Training the model
OutputTraining, Rules = model.fit(X_train, y_train)