# Imports necessários

## Bibliotecas

In [13]:
from sklearn.model_selection import cross_val_score, train_test_split
import sys
import pandas as pd

sys.path.insert(1, '..\Modelo')

## Importando o modelo

In [14]:
import ePL_KRLS_DISCO

## Importando a série

In [21]:
TPV = pd.read_csv("../Dados/Dados refinados/timeseries.csv", index_col= 0)

In [23]:
TPV

                 Datetime       TPV  feriado  fim_semana  primeira_quinzena
0     2021-01-02 07:30:00  2.220000    False        True               True
1     2021-01-02 08:30:00  2.220000    False        True               True
2     2021-01-02 12:00:00  2.605000    False        True               True
3     2021-01-02 13:00:00  2.640000    False        True               True
4     2021-01-02 14:00:00  2.357500    False        True               True
...                   ...       ...      ...         ...                ...
7362  2021-09-30 20:30:00  3.625238    False       False              False
7363  2021-09-30 21:00:00  3.638054    False       False              False
7364  2021-09-30 22:00:00  3.712718    False       False              False
7365  2021-09-30 22:30:00  3.816610    False       False              False
7366  2021-09-30 23:00:00  3.884432    False       False              False

[7367 rows x 5 columns]